include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Portfolio | Главная
  body
    .wrapper
      main.maincontent

        .wrappersections.wrappersections--home

          section.fullscreen-section.hero
            .container.hero-container
              header.header
                .header__logo
                  .logo
                    h2.logo__title ДГ
                .header__menu
                  nav.menu
                    ul.menu__list
                      - var items = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                      each item in items
                        li.menu__item
                          a(href="#" title=`${item}`).menu__link #{item}
                .header__social
                  .social
                    ul.social__list
                      - var socials = ['insta', 'vk', 'github'];
                      each social in socials
                        li.social__item
                          - var soclink = ''
                          case social
                            when 'insta'
                              - soclink='//instagram.com'
                            when 'vk'
                              - soclink='//vk.com'
                            when 'github'
                              - soclink='//github.com'
                          a(href=`${soclink}` target="_blank").social__link
                            +icon(social, 'social__icons')

              .hero__block
                .hero__profession
                  .hero__profession-elem Личный сайт #[span.span-block] веб разработчика
                .hero__name
                  h1.hero__name-elem Денис Городецкий
              .hero__scroll
                .scroll__block
                  button(type="button").scroll__image

          section.about
            .container.about-container
              .avatar
                .avatar__block
                  +image(`content/user.jpg`, 'avatar__image', 'Аватар')
                .avatar__info
                  table.avatar__info-table
                    -
                      var informations = [
                        ['Проживаю:','Брянск'],
                        ['Возраст:', '28 лет'],
                        ['Родился:', '12 декабря 1990']
                      ];
                    each info in informations
                      tr.avatar__info-row
                        td.avatar__info-key #{info[0]}
                        td.avatar__info-value #{info[1]}
              .description
                .description__name
                  .description__name-welcome Привет, меня зовут
                  h2.description__title Денис Городецкий
                  .description__name-about Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .description__block
                  .description__content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!


        .triangles
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle__item
            polygon(
              points="0,0 0,100 1000,100"
            )
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle__item
            polygon(
              points="0,100 1000,100 1000,0"
            )

        .wrappersections.wrappersections--two
  section.useful
    .container
      .useful__title
        .title
          h3.title-elem Чем я могу быть #[span.span-block]полезен вам
        .useful__description Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!


  section.work
    .container
      .work__title
        .title
          h2.title-elem Мои работы
      .slider
        .slider__preview
          div(data-slide="4").slider__preview-block
            +image('content/work/preview.jpg', 'slider__preview-image','Превью')
            .slider__workimages
              ul.slider__list
                - var previews = ['slider-image1','slider-image2','slider-image3','slider-image4'];
                each prev in previews
                  li.slider__item
                    .slider__image
                      +image(`content/work/${prev}.jpg`, 'slider__image-icon','Работа')
          .slider__navigation
            .navigation
              button(type="button").navigation__button.navigation__button--up.no-active
                +icon('arrow-down', 'navigation__button-icon')
              button(type="button").navigation__button.navigation__button--down
                +icon('arrow-down', 'navigation__button-icon')
        .slider__content
          .slider__description
            .slider__tag
              ul.slider__tag-list
                - var tags = ['HTML', 'CSS', 'Javascript'];
                each tag in tags
                  li.slider__tag-item
                    .slider__tag-text #{tag}
              .slider__work
                h3.slider__work-title Сайт школы образования
                .slider__work-description Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
              .slider__linkblock
                +icon('link', 'slider__icon')
                a(href="#" target="blank").slider__link Посмотреть сайт